<!DOCTYPE html>
<html>
  <head>
    <title>Study Tracker - Goals</title>
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <h2>Goals</h2>
    <div class="container">
    <form method="POST" action="/add_goal">
      <input type="text" name="goal_name" placeholder="Goal Name" required />
      <input type="date" name="start_date" required />
      <input type="date" name="end_date" required />
      <input
        type="number"
        step="0.1"
        name="target_hours"
        placeholder="Target Hours"
        required
      />
      <button type="submit">Add Goal</button>
    </form>

    <h3>Current Goals:</h3>
    <table>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Target Hours</th>
          <th>Completed Hours</th>
        </tr>
      </thead>
      <tbody>
        {% for g in goals %}
        <tr>
          <td>{{ g[1] }}</td>
          <td>{{ g[2] }}</td>
          <td>{{ g[3] }}</td>
          <td>{{ "%.2f"|format(g[4]) }}</td>
          <td>{{ "%.2f"|format(g[5]) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/timetable">Go to Timetable</a>
    </div>
  </body>
</html>
